

table {
   background-color: white;
   border-width: 4px;
   border-style: double;
   border-color: black;

}

h2 {
    text-align: center;
}

button {
    background-color: rgb(174, 206, 235);
}

* {
    background-color: 8d99ae;
}